body {
  font-family: 'Roboto', sans-serif;
  /* font-family: sans-serif; */
}
h1 {
  font-family: 'Courgette', cursive;
  margin: 0;
  padding: 5px;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.checkoutForm > input {
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #4c5b5c;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.cards-container {
  justify-content: space-around;
  align-items: stretch;
  flex: 1 0 100%;
  /* flex-direction: row; */
}

.primary-buttons {
  padding: 14px 28px;
}

.title-header {
  text-align: center;
  background-color: #00a878;
  /* background-color: #d5a021; */
  margin: 0;
  height: 100%;
  padding: 10px 0 10px 0;
}

.container {
  background-color: #d8cfaf;
}

.card {
  /* display: flex; */
  flex: 0 0 25%;
  margin: 5px;
  align-items: center;
  padding: 30px;
  background-color: #493843;
}

.card-contents {
  padding: 10px;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.card-image {
  /* display: flex; */
  /* flex-direction: row; */
  flex: 1 0 100%;
  justify-content: space-around;
}
.single-product-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.single-product-left {
  padding: 10px;
}
.single-product-right {
  padding: 10px;
}
