body {
  font-family: 'Roboto', sans-serif;
  /* font-family: sans-serif; */
  height: 100%;
  min-height: 100%;
}

h1 {
  font-family: 'Courgette', cursive;
  margin: 0;
  padding: 5px;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 20px;
}

.checkoutForm > input {
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #4c5b5c;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
/*
.cards-container {
  justify-content: space-around;
  align-items: stretch;
} */

.primary-buttons {
  padding: 14px 28px;
}

.title-header {
  text-align: center;
  background-color: #493843;
  color: white;
  /* background-color: #ef6461; */
  /* background-color: #00a878; */
  /* background-color: #d5a021; */
  margin: 0;
  height: 100%;
  padding: 10px 0 10px 0;
}

.container {
  background-color: #d8cfaf;
  height: 100%;
}

.card-contents {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.single-product-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.single-product-left {
  padding: 10px;
  display: inline-block;
  min-width: 200px;
}
.single-product-right {
  padding: 10px;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#primary-buttons {
  margin: 30px;
}

#user {
  display: flex;
  align-items: center;
}

.order-contents {
  display: flex;
}

.order-card {
  padding: 10px;
  margin: 15px;
  width: 50%;
}

.order-heading {
  padding-bottom: 5px;
  font-size: 20px;
  border-bottom: 1px solid grey;
}

.order-line1 {
  width: 50%;
}

.order-line2 {
  width: 25%;
}

.order-title {
  margin: 15px;
  font-size: 24px;
}

.icon {
  height: 30px;
}

.single-product-rating {
  margin: 10px;
  padding: 5px;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
  margin-left: 10px;
}

select {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.checkout > button {
  margin-left: 20px;
  width: 50%;
}

form {
  border-bottom: 3px solid #e6ebf1;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 20px;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.cart-paper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.cart-container h2 {
  text-align: center;
}

.order-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.order-total h2 {
  text-align: right;
}
.nav-cart-qty {
  position: absolute;
  right: 28px;
  color: white;
}
