body {
  font-family: 'Roboto', sans-serif;
  /* font-family: sans-serif; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.checkoutForm > input {
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.cards-container {
  justify-content: space-around;
  align-items: stretch;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.primary-buttons {
  padding: 14px 28px;
}

.header {
  text-align: center;
}

.card {
  flex: 0 0 25%;
  margin: 5px;
  align-items: center;
  padding: 30px;
}

.center-contents {
  padding: 10px;
}
